@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/Inter-roman.var.woff2') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Isep Misbah';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/LPMQ IsepMisbah.ttf') format('truetype');
  font-named-instance: 'Regular';
}

@layer components {
  .schedule__card {
    @apply text-white bg-gradient-to-b from-sky-500 to-indigo-500;
    @apply shadow-lg shadow-indigo-500/50;
    @apply p-4 md:py-6 rounded-3xl;
    content-visibility: auto;
  }
}